<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ljs.android.oepg_ch6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.openglesbook.ch9_texture2d.SimpleTexture2DActivity"></activity>
        <activity android:name="com.openglesbook.ch2_hello_triangle.HelloTriangleActivity" />
        <activity android:name="com.openglesbook.ch6_map_buffers.MapBuffersActivity" />
        <activity android:name="com.openglesbook.ch6_example_3.Example6_3Activity" />
        <activity android:name="com.openglesbook.ch6_example_6.Example6_6Activity" />
        <activity android:name="com.openglesbook.ch6_vao.VAOActivity" />
        <activity android:name="com.openglesbook.ch6_vbo.VBOActivity" />
        <activity android:name="com.openglesbook.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>